<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animalquiz">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapp"
        android:label=""
        android:roundIcon="@mipmap/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".login_register.RegistroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".login_register.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DesarrolladoresActivity"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz1.Quiz1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz2.Quiz2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activityQuiz3.Quiz3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".PrincipalQuizActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DatosPecesCompletosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.PecesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DatosReptilesCompletosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.ReptilesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DatosAnfibiosCompletosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.AnfibiosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DatosAvesCompletosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.AvesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.DatosMamiferosCompletosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.MamiferosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".activities.PrincipalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fullScrean.noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>